{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body
{
background-color: #f4d0d0;
}
nav
{
    background-color: #333;
    color:white;
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 25px 50px;
    text-align:left;
    font-family:cursive;
}
nav ul
{
    list-style: none;
    display: flex;
    font-size: 18px;
}
nav ul li
{
    margin: 15px;
}
nav ul li a
{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.a
{
    height:80vh;
    background:lightblue;
    background-image: url("at.webp");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-blend-mode: overlay;
}
.a h2
{
    font-size: 50px;
    color:black;
    text-shadow: 2px 2px 4px rgba(135, 0, 0, 0.92);
    margin-left: 50px;
}
.a p
{
    font-size: 40px;
    color: black;
    text-shadow: 1px 1px 3px rgba(135, 0, 0, 0.92);
    margin-left: 0px;
}
.btn
{
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
   
}
.btn:hover
{
    background-color:red;
}
.section-title
{
    text-align: center;
    margin: 40px 0;
    color:green;
    font-size: 36px;
    text-shadow: 2px 2px 4px rgba(213, 219, 98, 0.614);
}
.menu-container
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}
.menu-card
{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    margin: 20px;
}
.menu-card:hover
{
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(13, 10, 10, 0.2);
}

.menu-card h3
{
    color:green;
    margin-bottom: 20px;
}
.menu-card p
{
    color: #555;
    margin: 8px ;
}
.menu-card span
{
    color: red;
    font-weight: bold;
}
footer
{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

